body {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  background-color: var(--ons-color-grey-35);
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 20px;
}

label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.25rem;
  width: 200px;
  font-size: 0.9rem;
}

.field-container {
  margin: 0 0 0.2rem 0;
}

.field-container--inline {
  display: inline-block;
}

.btn--hidden,
.supplementary-data--hidden,
.cir-metadata--hidden {
  display: none;
}

.field-container__span {
  position: relative;
}

.btn--small {
  font-size: 0.9rem !important;
  padding: 0.5rem 2rem !important;
  margin: 0.1rem !important;
}

.field-container__img {
  padding-top: 4px;
  width: 26px;
  height: auto;
  display: block;
  position: absolute;
  top: -2px;
  right: 2px;
  cursor: pointer;
  z-index: 3;
}

.btn {
  background: #6099c6;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.btn:disabled {
  background: #cccccc;
  color: grey;
  cursor: default;
}
